@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  /* Primary */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral */

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

body {
  background-color: var(--off-white);
}

header {
  padding: 21px;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 36px;
}

#icon-menu {
  width: 36px;
  height: 16px;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

nav button {
  border: none;
  background-color: var(--off-white);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin: 17px 0;
}

nav ul li a {
  height: 100%; /* match the height of the list items */
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--very-dark-blue);
  font-weight: 400;
}

#grid {
  height: 100vh;
  margin: 16px;
}

#web3 {
  background-image: url("assets/images/image-web-3-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  color: var(--very-dark-blue);
}

#description p {
  color: var(--dark-grayish-blue);
  font-weight: 400;
  line-height: 1.5em;
}

#description .read-more-btn {
  display: inline-block;
  margin: 11px 0 35px 0;
  background-color: var(--soft-red);
  border: none;
  color: var(--very-dark-blue);
  text-transform: uppercase;
  font-weight: 700;
  padding: 9px 30px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#description .read-more-btn:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

#new {
  background-color: var(--very-dark-blue);
  padding: 12px;
}

#new h2 {
  color: var(--soft-orange);
}

#new h3 {
  color: var(--off-white);
  margin: 9px 0;
}

#new h3:hover {
  color: var(--soft-orange);
}

#new p {
  color: var(--grayish-blue);
}

#new article {
  display: block;
}

article {
  display: flex;
  margin: 24px 0;
}

#one,
#two,
#three {
  margin: 0 14px;
}

#related-articles h2 {
  color: var(--soft-red);
  font-weight: 700;
}

#related-articles h4 {
  color: var(--very-dark-blue);
  padding: 7px 0;
  font-weight: 800;
}

#related-articles h4:hover {
  color: var(--soft-red);
}

#related-articles p {
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background: var(--off-white);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  color: var(--dark-grayish-blue);
}

.sidebar a:hover {
  width: 100%;
  color: var(--soft-red);
}

#icon-menu-close {
  position: absolute;
  cursor: pointer;
  top: 21px; /* Adjust this value as needed */
  right: 20px;
  height: 30px;
}

/* Overlay (dark background) */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Overlay visible */
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 1025px) {
  #logo {
    width: 72px;
  }

  h1 {
    font-size: 5em;
  }

  .sidebar {
    position: fixed;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 15px;
  }

  #icon-menu,
  #icon-menu-close {
    display: none;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 48px;
  }

  #web3 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("assets/images/image-web-3-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }

  #new {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

#description {
  display: flex;
   flex-direction: column;
  justify-content: space-between;
  padding: 0 26px;
}

#description p {
  line-height: 30px;
}

#description .read-more-btn {
  padding: 9px 30px;
  max-width: 175px;
  }

  #new {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #new h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  #new h3 {
  color: var(--off-white);
 font-size: 1.5em;
}

  #new p {
    line-height: 30px;
  }

  #related-articles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #related-articles h4 {
    font-size: 1.5rem;
}
}
